<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{{relativize site.homeUrl}}}">SoftGate</a>
        <span class="separator">//</span>
        <a href="{{{relativize (resolvePageURL 'guide.adoc')}}}">Docs</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item has-label" href="{{{relativize site.homeUrl}}}">Home</a>
        <a class="navbar-item has-label" href="{{{relativize (resolvePageURL 'docs::guide.adoc')}}}">Guide</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Legal</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item has-label" href="{{{relativize (resolvePageURL 'legal::privacy-policy.adoc')}}}">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
